<!-- <div class="my-account sec-padding">
  <div class="container">
        <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start"  class="p-0">
          <div class="my-account-wrap p-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" >
              <div class="login-wrapper pr-50" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
                  <div class="title">
                    <h3>User Details</h3>
                  </div>
                  <form fxLayout="row wrap">
                      <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Email address" #name="ngModel" [(ngModel)]="userDetails.primaryEmailAddress" name="email"  type="email" email required>
                          <mat-error *ngIf="name.invalid">Please enter a valid email</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1 mb-10" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <button class="btn-stroked-project" mat-raised-button  color="accent" type="button">Change Password</button>
                      </div>
                      <mat-form-field class="w-100">
                        <input matInput placeholder="First Name" #name="ngModel" [(ngModel)]="userDetails.firstName" name="firstName"  type="text"  required>
                        <mat-error *ngIf="name.invalid">Please enter your first name</mat-error>
                      </mat-form-field>
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Last Name" #name="ngModel" [(ngModel)]="userDetails.lastName" name="lastName"   type="text"  required>
                        <mat-error *ngIf="name.invalid">Please enter your last name</mat-error>
                      </mat-form-field>





                      <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                          <button class="btn-project" mat-raised-button color="accent" type="submit">Save</button>
                        </div>
                      </form>
                </div>
                <div class="register-wrapper pr-15" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
                    <div class="title">
                        <h3>Company Details</h3>
                      </div>
                      <div class="register-body">
                        <p>Create new account today to reap the benefits of a personalized shopping experience.</p>
                        <form fxLayout="row wrap">
                            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Email address" #name="ngModel" ngModel name="name" required>
                                    <mat-error *ngIf="name.invalid">Please enter a valid email</mat-error>
                                  </mat-form-field>
                            </div>

                            <p>Please use the email that you wish to use for your sign up credentials</p>
                            <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                <button class="btn-project" mat-raised-button color="accent" type="button"  >Register</button>
                                <a href="http://localhost:4000/signup">signup</a>
                              </div>
                            </form>
                      </div>
                  </div>
        </div>
      </mat-card>

  </div>
</div> -->
