<div class="categories-section sec-padding" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start"  class="p-0">
    <div fxFlex="100" fxFlex.gt-sm="50" class="left-section">
        <div class="item mb-15" >
          <div class="product">
            <img src="assets/images/category/tiBase.png" alt="">
          </div>
          <div class="product-info">
              <h4><a href="">Titanium Bases</a></h4>
            <ul>
                <li><a href="">E Series - Nobel Tri-lobe</a> </li>
                <li><a href="">F Series - Nobel Conical Connection</a> </li>
                <li><a href="">H Series - 3i Certain</a></li>
                <li><a href="">K Series - Nobel Ex-Hex</a> </li>
                <li><a href="">L Series - Straumann BL</a> </li>
                <li><a href="">N Series - Straumann SynOcta</a> </li>
                <li><a href="">H Series - 3i Certain</a></li>
                <li><a href=""></a> </li>
            </ul>
          </div> </div>
        <div class="banerCo" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
            <div class="item mr-7 h" >
                <div class="product">
                    <img src="assets/images/category/guidesleeve.png" alt="">
                  </div>
                  <div class="product-info">
                      <h4><a href="">Guide Sleeve </a></h4>
                    <ul>
                      <li><a href="">Pilot Sleeves</a> </li>
                      <li><a href="">Fully Guided Sleeves</a> </li>

                    </ul>
                  </div>
            </div>
            <div class="item ml-7 h" >
                <div class="product">
                    <img src="assets/images/category/screw.png" alt="">
                  </div>
                  <div class="product-info">
                    <h4><a href="">Screws
                      </a></h4>
                    <ul>
                      <li><a href="">Titanium</a> </li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="right-section">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
            <div class="item mr-7 h" >
                <div class="product">
                    <img src="assets/images/category/scanFlag.png" alt="">
                  </div>
                  <div class="product-info">
                      <h4><a href="">Scan Abutments
                        </a></h4>
                    <ul>
                      <li><a href="">Intra-oral</a> </li>
                      <li><a href="">Extra-oral</a> </li>
                    </ul>
                  </div>
            </div>
            <div class="item ml-7 h" >
                <div class="product">
                    <img src="assets/images/category/analog.png" alt="">
                  </div>
                  <div class="product-info">
                      <h4><a href="">Analogs</a></h4>
                    <ul>
                      <li><a href="">Plaster Model Analogs</a> </li>
                    </ul>
                  </div>
            </div>
        </div>
        <div class="item mt-15" >
            <div class="product">
              <img src="assets/images/category/dimanalog.png" alt="">
            </div>
            <div class="product-info">
                <h4><a href="">Digital Analogs
                  </a></h4>
              <ul>

                <li><a href="">E Series - Nobel Tri-lobe</a> </li>
                <li><a href="">F Series - Nobel Conical Connection</a> </li>
                <li><a href="">H Series - 3i Certain</a></li>
                <li><a href="">K Series - Nobel Ex-Hex</a> </li>
                <li><a href="">L Series - Straumann BL</a> </li>
                <li><a href="">N Series - Straumann SynOcta</a> </li>
                <li><a href="">H Series - 3i Certain</a></li>
              </ul>
            </div>
          </div>
      </div>
</div>
